body{
    background-color: gray;
}

.div{
    background-color: pink;
    width: 40%;
    height: auto;
    padding: 20px;
    border-radius: 50px;
    position: absolute;
    top: 20px;
    left: 500px;
    text-align: center;
    border: 5px solid black;
}

input{
    color: white;
    background-color: black;
    padding: 50px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 50px;
    border-radius: 50px;
    border: 3px solid cyan;
}

input:hover{
    color: black;
    background-color: white;
    transition: 0.5s;

}